$fa-font-path: "../bower_components/font-awesome/fonts";
// @import "font-awesome/scss/font-awesome";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

/* Mixin */

@mixin linear-gradient($direction, $top, $bottom) {
  background: -webkit-linear-gradient($direction, $top, $bottom);
  background: -moz-linear-gradient($direction, $top, $bottom);
  background: -ms-linear-gradient($direction, $top, $bottom);
  background: linear-gradient(to bottom, $top, $bottom);
}

@mixin box-shadow{
    box-shadow: inset 0 9px 9px -9px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 9px 9px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 9px 9px -9px rgba(0, 0, 0, 0.3);
}

/////* Custom Styles *////////////////////////////////////////////

/* Global Styles */


html {
  font-family: 'Helvetica Neue';
}

.responsive-background{
    background-color:black;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: none;
}

.dropdown-menu {
  z-index:6000000000000;
}

/* Navbar Styles */

.navbar-inverse {
    background-color: black;
    border-color: #090909;
    min-height: 127px;
    border-bottom: 10px solid #f8d63e;
    padding: 0px 42px;
    z-index: 1000;
}

.main-logo {
  width: 100%;
}

.signature-logo{
    margin-top: 18px;
    width: 50%;
    float: right;
}

/*  Landing Page Styles */

.main-building-image {
    background: url('../images/72Townsend_EastView.png') no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    height:615px;
    position: relative;
}

.landing-wrapper {
   background-color: black;
   position: relative;
   top: 126px;

   .dropdown-menu {
     width:97%;
   }
}

.button-wrapper {
    position: absolute;
    top: 3%;
    left: 3%;

    h3{
      color: white;
      display: inline-block;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 4px;
      padding-bottom: 11px;
    }

  
    button{
      @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
      color: #333;
      border-top: 1px solid rgba(225,187,1,0.6);
      border-right: 1px solid rgba(225,187,1,0.8);
      border-bottom: 1px solid rgba(225,187,1,0.9);
      border-left: 1px solid rgba(225,187,1,0.8);
      font-weight: bold;
      padding: 11px 20px;
      margin-top: 10px;
      display: block;
      width: 261px;
      letter-spacing: 1px;
      margin-top: 20px;
    }

      .btn:active{
      outline: 0;
       @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
    }
}

.floor-wrapper{
    position: absolute;
    top: 19%;
    left: 38%;
    background-color:black
}


.dropdown-menu {
    background-color: white;
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    box-shadow: none;
    cursor:pointer;

    li a{
      font-weight: bold;
      border-bottom: 1px solid black;
       padding: 11px 20px;
    }

    li a:hover, li a:visited, li a:active{
          background-color: rgba(0, 0, 0, 0.1);
    }
}

/* Modal Styles */

.modal-body {
    height: 623px;
}

.carousel-indicators {
    bottom: 0px;
}

/* List Styles */

.list-wrapper{
    margin-top:127px;
}

.select-group {
    margin-top:15%;

    button{
      @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
      color: #333;
      border-top: 1px solid rgba(225,187,1,0.6);
      border-right: 1px solid rgba(225,187,1,0.8);
      border-bottom: 1px solid rgba(225,187,1,0.9);
      border-left: 1px solid rgba(225,187,1,0.8);
      font-weight: bold;
      padding: 11px 20px;
      margin-top: 10px;
      display: block;
      width: 100%;
      letter-spacing: 1px;
      margin-top: 20px;
    }

      .btn:active{
      outline: 0;
       @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
    }
}

.list-group-item{

    border: 1px solid #ccc;
    @include box-shadow;
    
    button {
      @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
      color: #333;
      border-top: 1px solid rgba(225, 187, 1, 0.6);
      border-right: 1px solid rgba(225, 187, 1, 0.8);
      border-bottom: 1px solid rgba(225, 187, 1, 0.9);
      border-left: 1px solid rgba(225, 187, 1, 0.8);
      font-weight: bold;
      padding: 8px 10px;
      text-transform: uppercase;
      margin-top: 100px;
      margin-bottom: 5px;
      font-size: 12px;
      letter-spacing: 2px;
    }

    .btn:active{
      outline: 0;
       @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
    }

}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px; 
}

/* Unit Styles */

.unit-wrapper{
    margin-top:150px;

    .btn:active{
      outline: 0;
       @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
    }
}

.yellow-border{
    border: 1px solid #f8d63e;;
    padding: 10px 0px;
}

.yellow-border h2{
    line-height: 15px;
}

h2 {
    color: white;
    font-size: 13px;
}

hr{
    width: 50%;
    border-bottom: 1px solid #f8d63e;
    border-top: none;
}

.balcony-button {
    @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
    color: #333;
    border-top: 1px solid rgba(225,187,1,0.6);
    border-right: 1px solid rgba(225,187,1,0.8);
    border-bottom: 1px solid rgba(225,187,1,0.9);
    border-left: 1px solid rgba(225,187,1,0.8);
    font-weight: bold;
    padding: 11px 20px;
}

/* Floor Styles */

.floor-unit-wrapper{
    margin-top:150px;

    .btn:active{
      outline: 0;
       @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
    }
}


.floor-main {
    width: 80%;
    margin-left: 7%;
    z-index: 20000000;
} 

.floor-top-button {
     @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
    color: #333!important;
    border-top: 1px solid rgba(225,187,1,0.6);
    border-right: 1px solid rgba(225,187,1,0.8);
    border-bottom: 1px solid rgba(225,187,1,0.9);
    border-left: 1px solid rgba(225,187,1,0.8);
    font-weight: bold;
    padding: 11px 77px;
    text-transform: uppercase;
    letter-spacing: 2px;
} 

.image-overlay {
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 900;
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 2.8vw;
    border-radius:50%;
    border: none;
  } 


.image-overlay-sold {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    position: absolute;
    cursor: none;
    text-align: center;
    font-size: 1.8vw;
    border-radius:50%;
    border: none;
  }   

.inner-overlay {
   position: absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   text-align: center;
}

.inner-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
}

.inner-text-sold {
    margin: auto;
    position: absolute;
    color: gray;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
}

/////* End Desktop Custom Styles*///////////////////////////////////

////* Custom Tablet Styles *////////////////////////////////////////

@media only screen and (min-width: 481px) and (max-width: 768px) {
    
    .responsive-background{
        background-color:black;
    }
     /* Navbar Styles */
    .navbar-inverse {
      padding: 0px;
      min-height: 95px;
      border-bottom: 3px solid #f8d63e;
      z-index: 1000;
    }

    .main-logo {
      width: 70%;
    }

    /* Landing Styles*/

    .landing-wrapper {
        margin-top: 74px;
    }

    .carousel-indicators {
      bottom: -8px;
    }

    .mobile-button-wrapper {

        background-color: black;
        margin-top: 250px;

        h3{
          color: white;
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 2px;
          padding-bottom: 0px;
          margin-top: 0px;
          text-align: center;
        }


        button{
          @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
          color: #333;
          border-top: 1px solid rgba(225,187,1,0.6);
          border-right: 1px solid rgba(225,187,1,0.8);
          border-bottom: 1px solid rgba(225,187,1,0.9);
          border-left: 1px solid rgba(225,187,1,0.8);
          font-weight: bold;
          font-size:13px;
          padding: 11px 10px;
          margin-top: 5px;
          display: block;
          width: 100%;
          letter-spacing: 2px;
          margin-top: 10px;
        }

          .btn:active{
          outline: 0;
           @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
          box-shadow: none;
        }

    }

    /* List Styles */

    .list-wrapper{ 
      margin-top: 40px;
    }

     .select-group {
      margin: 53px 0px 20px 0px;

        button{
          letter-spacing: 1px;
        }
    }

     .image-overlay-mobile {
        width: 70px;
        height: 70px;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 900;
        position: absolute;
        cursor: pointer;
        text-align: center;
        font-size: 5.8vw;
        border-radius:50%;
        border: none;
    } 


    .image-overlay-mobile-sold {
        width: 70px;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 900;
        position: absolute;
        cursor: none;
        text-align: center;
        font-size: 3.8vw;
        border-radius:50%;
        border: none;
      }   

      .inner-overlay {
         position: absolute;
         top:0;
         bottom:0;
         left:0;
         right:0;
         text-align: center;
      }

      .inner-text-mobile {
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 1em;
          line-height: 1em;
          font-size: 1em;
      }

      .inner-text-mobile-sold {
          margin: auto;
          position: absolute;
          color: gray;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 1em;
          line-height: 1em;
          font-size: 1em;
      }

     /* Unit Styles */

    .mobile-unit-wrapper{
      margin-top: 92px;
      margin-bottom: 10%;
    }

    .mobile-unit-image{
      width:100%;
      margin-top:30px;
    }

    .mobile-unit-nav {
        padding: 15px 0px;
        font-weight: bold;
        min-height: 50px;
        z-index: 1000;
        @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
        border-top: 1px solid rgba(225,187,1,0.6);
        border-right: 1px solid rgba(225,187,1,0.8);
        border-bottom: 1px solid rgba(225,187,1,0.9);
        border-left: 1px solid rgba(225,187,1,0.8);

        a{
          font-weight: bold;
          text-decoration: none;
          color: black;
        }
    }

    .yellow-border{
        padding: 20px;
        margin-top: 17px;
    }

    .yellow-border h2 {
        line-height: 15px;
        font-size: 15px;
        font-weight: normal;
    }

    hr{
       margin-top: 8px;
       width: 50%;     
     }

     /* Floor Styles */

     .floor-main-floor {
       width: 100%;
       margin-left: -24px;
       z-index: 20000000;
    }

    .floor-button-floor {
        // padding: 10px 67px;
        background: linear-gradient(to bottom,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
        color: #333!important;
        border-top: 1px solid rgba(225,187,1,0.6);
        border-right: 1px solid rgba(225,187,1,0.8);
        border-bottom: 1px solid rgba(225,187,1,0.9);
        border-left: 1px solid rgba(225,187,1,0.8);
        font-weight: bold;
        display: block;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: 100%;
    }

    .floor-button-wrapper{
      margin: 20px 0px;
    }

}

/////* End Custom Tablet Styles *////////////////////////////////////




////* Custom Mobile Styles *////////////////////////////////////////

/* Extra Small Devices, Phones */
@media only screen and (min-width: 320px) and (max-width: 480px) {

  /* Global Styles */

  .responsive-background{
    background-color:black;
  }

  /* Navbar Styles */
    .navbar-inverse {
      padding: 0px;
      min-height: 95px;
      border-bottom: 3px solid #f8d63e;
      z-index: 1000;
    }

    .main-logo {
      width: 70%;
    }

    /* Landing Styles*/

    .landing-wrapper {
        margin-top: 74px;
    }

    .carousel-indicators {
      bottom: -8px;
    }

    .mobile-button-wrapper {

        background-color: black;
        margin-top: 1%;

        h3{
          color: white;
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: 2px;
          padding-bottom: 0px;
          margin-top: 0px;
          text-align: center;
        }


        button{
          @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
          color: #333;
          border-top: 1px solid rgba(225,187,1,0.6);
          border-right: 1px solid rgba(225,187,1,0.8);
          border-bottom: 1px solid rgba(225,187,1,0.9);
          border-left: 1px solid rgba(225,187,1,0.8);
          font-weight: bold;
          padding: 11px 20px;
          margin-top: 10px;
          display: block;
          width: 100%;
          letter-spacing: 2px;
          margin-top: 20px;
        }

          .btn:active{
          outline: 0;
           @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
          box-shadow: none;
        }

    }

    /* Modal Styles */

    .modal-body {
      height: 213px;
    }

    /* List Styles */

    .list-wrapper{ 
      margin-top: 40px;
    }

    .select-group {
      margin: 53px 0px 20px 0px;

           button{
              letter-spacing: 0px;
              font-size: 13px;
            }
    }

    .list-group-item {
        button {
          letter-spacing: 0px;
        }
    }

    /* Unit Styles */

    .mobile-unit-wrapper{
      margin-top: 92px;
      margin-bottom: 10%;
    }

    .mobile-unit-image{
      width:300px;
      margin-top:5px;
    }

    .mobile-unit-nav {
        padding: 15px 0px;
        font-weight: bold;
        min-height: 50px;
        z-index: 1000;
        @include linear-gradient(top,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
        border-top: 1px solid rgba(225,187,1,0.6);
        border-right: 1px solid rgba(225,187,1,0.8);
        border-bottom: 1px solid rgba(225,187,1,0.9);
        border-left: 1px solid rgba(225,187,1,0.8);

        a{
          font-weight: bold;
          text-decoration: none;
          color: black;
        }
    }

    .yellow-border{
        padding: 20px;
        margin-top: 17px;
    }

    .yellow-border h2 {
        line-height: 15px;
        font-size: 15px;
        font-weight: normal;
    }

    hr{
       margin-top: 8px;
       width: 50%;     
     }

     /* Floor Styles */

     span.glyphicon-remove{
        color: white;
        font-size: 25px;
        padding: 10px 0px;
        z-index: 10000000;
     }

     .mobile-floor-unit-wrapper{
      margin-top: 92px;
      margin-bottom: 10%;
    }

     .image-overlay-mobile {
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 900;
        position: absolute;
        cursor: pointer;
        text-align: center;
        font-size: 6.8vw;
        border-radius:50%;
        border: none;
    } 


    .image-overlay-mobile-sold {
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 900;
        position: absolute;
        cursor: none;
        text-align: center;
        font-size: 3.8vw;
        border-radius:50%;
        border: none;
      }   

      .inner-overlay {
         position: absolute;
         top:0;
         bottom:0;
         left:0;
         right:0;
         text-align: center;
      }

      .inner-text-mobile {
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 1em;
          line-height: 1em;
          font-size: 1em;
      }

      .inner-text-mobile-sold {
          margin: auto;
          position: absolute;
          color: gray;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 1em;
          line-height: 1em;
          font-size: 1em;
      }

     .floor-main-floor {
       width: 100%;
       margin-left: -24px;
    }

    .floor-button-floor {
        // padding: 10px 67px;
        background: linear-gradient(to bottom,rgba(253,211,40,1) 0%,rgba(242,199,26,1) 100%);
        color: #333!important;
        border-top: 1px solid rgba(225,187,1,0.6);
        border-right: 1px solid rgba(225,187,1,0.8);
        border-bottom: 1px solid rgba(225,187,1,0.9);
        border-left: 1px solid rgba(225,187,1,0.8);
        font-weight: bold;
        display: block;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: 100%;
    }

    .floor-button-wrapper{
      margin: 20px 0px;
    }


}

/////* End Custom Mobile Styles*////////////////////////////////////////////////////////

