    <div class="modal-body" style="background-color:black">
           <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" 
           ng-click="cancel()">
           </span>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                  <div>
                    <carousel interval="0">
                      <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <!-- <div class="carousel-caption">
                          <h4>Slide {{$index}}</h4>
                          <h1>{{slide.text}}</h1>
                        </div> -->
                      </slide>
                    </carousel>
                  </div>
            </div>
        </div>
    </div>