<!-- desktop floor -->
<div class="row hidden-xs" style="background-color:white;margin-top:100px" ng-hide="floorHidden">
    <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs" style="position:relative">

            <div class="row" style="margin-bottom:10px">
                <div class="col-sm-4 col-md-5"></div>
                <div class="col-sm-4 col-md-2">
                    <br>
                    <br>
                    <br>
                     <div class="btn-group" dropdown>
                      <button type="button" class="btn floor-top-button hidden-xs" dropdown-toggle>
                        FLOOR 9
                      <!--   <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ui-sref="floorthree">FLOOR 3</a></li>
                        <li><a ui-sref="floorfour">FLOOR 4</a></li>
                        <li><a ui-sref="floorfive">FLOOR 5</a></li>
                        <li><a ui-sref="floorsix">FLOOR 6</a></li>
                        <li><a ui-sref="floorseven">FLOOR 7</a></li>
                        <li><a ui-sref="flooreight">FLOOR 8</a></li>
                        <li><a ui-sref="floornine">FLOOR 9</a></li>
                      </ul>
                    </div>

                </div>
                <div class="col-sm-4 col-md-5"></div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12" style="position:relative">
                    <img src="images/floors/floor9_desktop.png" class="floor-main hidden-xs">
                         <div class="image-overlay" style="top:62%;left:66%" ng-click="displayUnit(901)"></div>
                         <div class="image-overlay" style="top:62%;left:37%" ng-click="displayUnit(902)"></div>
                         <div class="image-overlay" style="top:19%;left:45%" ng-click="displayUnit(903)"></div>
                         <div class="image-overlay" style="top:18%;left:66%" ng-click="displayUnit(904)"></div>
                </div>
            </div>
              
    </div>
</div>
<!-- end desktop floor -->

<!-- mobile floor -->
<div class="container hidden-sm hidden-md hidden-lg" style="background-color:white;margin-top:95px" ng-hide="floorHidden">
    <div class="row">
        <div class="col-sm-2 col-xs-2"></div>
        <div class="col-sm-8 col-xs-8 floor-button-wrapper"> 
                    <div dropdown>
                      <button type="button" class="btn floor-button-floor hidden-lg hidden-sm hidden-md" dropdown-toggle>
                        FLOOR 9
                      <!--   <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ui-sref="floorthree">FLOOR 3</a></li>
                        <li><a ui-sref="floorfour">FLOOR 4</a></li>
                        <li><a ui-sref="floorfive">FLOOR 5</a></li>
                        <li><a ui-sref="floorsix">FLOOR 6</a></li>
                        <li><a ui-sref="floorseven">FLOOR 7</a></li>
                        <li><a ui-sref="flooreight">FLOOR 8</a></li>
                        <li><a ui-sref="floornine">FLOOR 9</a></li>
                      </ul>
                    </div>          
        </div>
        <div class="col-sm-2 col-xs-2"></div>
    </div>    
    
    <div class="row">
        <div class="col-sm-12 col-xs-12" style="position:relative">
            <img src="images/floors/floor9_mobile.png" class="floor-main-floor hidden-lg hidden-sm hidden-md" style="background-color:white;margin-left:0px">
            <div class="image-overlay-mobile" style="top:23%;left:21%" ng-click="displayUnit(904)"></div>
            <div class="image-overlay-mobile" style="top:60%;left:62%" ng-click="displayUnit(902)"></div>
            <div class="image-overlay-mobile" style="top:27%;left:62%" ng-click="displayUnit(901)"></div>
            <div class="image-overlay-mobile" style="top:49%;left:24%" ng-click="displayUnit(903)"></div>
        </div>
    </div>

</div>
<!-- end mobile floor -->