<div class="row hidden-xs" style="background-color:white;margin-top:100px" ng-hide="floorHidden">
    <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs" style="position:relative">

            <div class="row" style="margin-bottom:10px">
                <div class="col-sm-4 col-md-5"></div>
                <div class="col-sm-4 col-md-2">
                    <br>
                    <br>
                    <br>
                     <div class="btn-group" dropdown>
                      <button type="button" class="btn floor-top-button hidden-xs" dropdown-toggle>
                        FLOOR 5 
                      <!--   <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ui-sref="floor">FLOOR 3</a></li>
                        <li><a ui-sref="floor">FLOOR 4</a></li>
                        <li><a ui-sref="floor">FLOOR 5</a></li>
                        <li><a ui-sref="floor">FLOOR 6</a></li>
                        <li><a ui-sref="floor">FLOOR 7</a></li>
                        <li><a ui-sref="floor">FLOOR 8</a></li>
                        <li><a ui-sref="floor">FLOOR 9</a></li>
                      </ul>
                    </div>

                </div>
                <div class="col-sm-4 col-md-5"></div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12" style="position:relative">
                    <img src="images/floor_north.png" class="floor-main hidden-xs">
                         <div class="image-overlay" style="top:63%;left:78%" ng-click="displayUnit(501)"></div>
                         <div class="image-overlay" style="top:65%;left:65%" ng-click="displayUnit(502)"></div>
                         <div class="image-overlay" style="top:59%;left:55%" ng-click="displayUnit(503)"></div>
                         <div class="image-overlay" style="top:59%;left:44%" ng-click="displayUnit(504)"></div>
                         <div class="image-overlay" style="top:61%;left:33%" ng-click="displayUnit(505)"></div>
                         <div class="image-overlay" style="top:61%;left:21%" ng-click="displayUnit(506)"></div>
                         <div class="image-overlay" style="top:33%;left:21%" ng-click="displayUnit(507)"></div>
                         <div class="image-overlay" style="top:14%;left:21%" ng-click="displayUnit(508)"></div>
                         <div class="image-overlay" style="top:13%;left:36%" ng-click="displayUnit(509)"></div>
                         <div class="image-overlay" style="top:14%;left:51%" ng-click="displayUnit(510)"></div>
                         <div class="image-overlay" style="top:15%;left:66%" ng-click="displayUnit(511)"></div>
                         <div class="image-overlay" style="top:16%;left:78%" ng-click="displayUnit(512)"></div>
                </div>
            </div>
              
    </div>
</div>

<!-- mobile floor -->
<div class="container hidden-sm hidden-md hidden-lg" style="background-color:white;margin-top:95px">
    <div class="row">
        <div class="col-sm-2 col-xs-2"></div>
        <div class="col-sm-8 col-xs-8 floor-button-wrapper"> 
                    <div dropdown>
                      <button type="button" class="btn floor-button-floor hidden-lg hidden-sm hidden-md" dropdown-toggle>
                        FLOOR 5
                      <!--   <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ui-sref="floor">FLOOR 3</a></li>
                        <li><a ui-sref="floor">FLOOR 4</a></li>
                        <li><a ui-sref="floor">FLOOR 5</a></li>
                        <li><a ui-sref="floor">FLOOR 6</a></li>
                        <li><a ui-sref="floor">FLOOR 7</a></li>
                        <li><a ui-sref="floor">FLOOR 8</a></li>
                        <li><a ui-sref="floor">FLOOR 9</a></li>
                      </ul>
                    </div>          
        </div>
        <div class="col-sm-2 col-xs-2"></div>
    </div>    
    
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <img src="images/floor_plan_five_mobile.png" class="floor-main-floor hidden-lg hidden-sm hidden-md" style="background-color:white">
        </div>
    </div>

</div>
<!-- end mobile floor -->

<!-- desktop unit -->
 <div class="container" ng-show="floorHidden">
    <div class="row unit-wrapper" class="hidden-xs">
        <!-- <div class="col-md-1 text-center hidden-xs">
                
        </div> -->
        <div class="col-md-4 text-center hidden-xs">
            <h1 style="color:white;font-size:23px">Unit {{unit.unit}}<br> Plan {{unit.planId}}</h1>
            <div class="yellow-border">
                <h2>{{unit.interiorSqFt}} SQ. FT</h2>
                <hr>
                <h2>BEDROOMS<br> {{unit.bedrooms}}</h2>
                <hr>
                <h2>FULL BATHS<br> {{unit.baths}}</h2>
                <hr>
                <h2>GOURMET KITCHEN WITH PENINSULA</h2>
                <hr>
                <h2>SPACIOUS GREAT ROOM WITH PENINSULA</h2>
                <hr>
                <button class="btn btn-default balcony-button" class="balcony-button">BALCONY VIEW
                    <!-- <i class="fa fa-camera"></i> -->
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                </button>
            </div>
            <br>
        </div>

         <div class="col-md-8 hidden-xs" style="position:relative;">
            <div class="row" style="padding:0px">
                    <div class="col-md-2">    
                         <button class="btn btn-default balcony-button" ng-click="floorHidden = !floorHidden">
                            <!-- <i class="fa fa-chevron-left"></i>  -->
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            BACK TO FLOOR
                         </button>   
                    </div>

                    <div class="col-md-5"></div>     

                    <div class="col-md-5">
                         <button class="btn btn-default balcony-button" class="balcony-button" 
                         ng-click="displayUnit(unit.unit - 1)"
                         ng-disabled="(unit.unit - 1) === 500">
                            <!-- <i class="fa fa-chevron-left"></i>  -->
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            PREVIOUS 
                         </button>            
                
                          <button class="btn btn-default balcony-button" ng-click="displayUnit(unit.unit + 1)"
                          ng-disabled="(unit.unit + 1) === 513"> 
                            NEXT 
                            <!-- <i class="fa fa-chevron-right"></i> -->
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                          </button> 
                     </div> 

                </div>
                <br>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-11">
                        <img ng-src="{{unit.planImage}}" style="width:100%">
                  </div>
               <!--    <div class="col-md-1"></div> -->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end desktop unit -->
