<!-- desktop floor -->
<div class="row hidden-xs" style="background-color:white;margin-top:100px" ng-hide="floorHidden">
    <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs" style="position:relative">

            <div class="row" style="margin-bottom:10px">
                <div class="col-sm-4 col-md-5"></div>
                <div class="col-sm-4 col-md-2">
                    <br>
                    <br>
                    <br>
                     <div class="btn-group" dropdown>
                      <button type="button" class="btn floor-top-button hidden-xs" dropdown-toggle>
                        FLOOR 9
                      <!--   <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ui-sref="floorthree">FLOOR 3</a></li>
                        <li><a ui-sref="floorfour">FLOOR 4</a></li>
                        <li><a ui-sref="floorfive">FLOOR 5</a></li>
                        <li><a ui-sref="floorsix">FLOOR 6</a></li>
                        <li><a ui-sref="floorseven">FLOOR 7</a></li>
                        <li><a ui-sref="flooreight">FLOOR 8</a></li>
                        <li><a ui-sref="floornine">FLOOR 9</a></li>
                      </ul>
                    </div>

                </div>
                <div class="col-sm-4 col-md-5"></div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12" style="position:relative">
                    <img src="images/floors/floor9_desktop.png" class="floor-main hidden-xs">
                         <div class="image-overlay" style="top:62%;left:66%" ng-click="displayUnit(901)"></div>
                         <div class="image-overlay" style="top:62%;left:37%" ng-click="displayUnit(902)"></div>
                         <div class="image-overlay" style="top:19%;left:45%" ng-click="displayUnit(903)"></div>
                         <div class="image-overlay" style="top:18%;left:66%" ng-click="displayUnit(904)"></div>
                </div>
            </div>
              
    </div>
</div>
<!-- end desktop floor -->

<!-- mobile floor -->
<div class="container hidden-sm hidden-md hidden-lg" style="background-color:white;margin-top:95px" ng-hide="floorHidden">
    <div class="row">
        <div class="col-sm-2 col-xs-2"></div>
        <div class="col-sm-8 col-xs-8 floor-button-wrapper"> 
                    <div dropdown>
                      <button type="button" class="btn floor-button-floor hidden-lg hidden-sm hidden-md" dropdown-toggle>
                        FLOOR 9
                      <!--   <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ui-sref="floorthree">FLOOR 3</a></li>
                        <li><a ui-sref="floorfour">FLOOR 4</a></li>
                        <li><a ui-sref="floorfive">FLOOR 5</a></li>
                        <li><a ui-sref="floorsix">FLOOR 6</a></li>
                        <li><a ui-sref="floorseven">FLOOR 7</a></li>
                        <li><a ui-sref="flooreight">FLOOR 8</a></li>
                        <li><a ui-sref="floornine">FLOOR 9</a></li>
                      </ul>
                    </div>          
        </div>
        <div class="col-sm-2 col-xs-2"></div>
    </div>    
    
    <div class="row">
        <div class="col-sm-12 col-xs-12" style="position:relative">
            <img src="images/floors/floor9_mobile.png" class="floor-main-floor hidden-lg hidden-sm hidden-md" style="background-color:white;margin-left:0px">
            <div class="image-overlay-mobile" style="top:23%;left:21%" ng-click="displayUnit(904)"></div>
            <div class="image-overlay-mobile" style="top:60%;left:62%" ng-click="displayUnit(902)"></div>
            <div class="image-overlay-mobile" style="top:27%;left:62%" ng-click="displayUnit(901)"></div>
            <div class="image-overlay-mobile" style="top:49%;left:24%" ng-click="displayUnit(903)"></div>
        </div>
    </div>

</div>
<!-- end mobile floor -->

<!-- desktop unit -->
 <div class="container" ng-show="floorHidden">
    <div class="row floor-unit-wrapper hidden-xs">
        <!-- <div class="col-md-1 text-center hidden-xs">
                
        </div> -->
        <div class="col-md-4 text-center hidden-xs">
            <h1 style="color:white;font-size:23px">Unit {{unit.unit}}<br> Plan {{unit.planId}}</h1>
            <div class="yellow-border">
                <h2>SQUARE FOOTAGE<br> {{unit.interiorSqFt}}</h2>
                <hr>
                <h2>BEDROOMS<br> {{unit.bedrooms}}</h2>
                <hr>
                <h2>BATHS<br> {{unit.baths}}</h2>
                <hr>
                <h2>GOURMET KITCHEN WITH PENINSULA</h2>
                <hr>
                <h2>SPACIOUS GREAT ROOM WITH PENINSULA</h2>
                <hr>
                <button class="btn btn-default balcony-button" class="balcony-button">BALCONY VIEW
                    <!-- <i class="fa fa-camera"></i> -->
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                </button>
            </div>
            <br>
        </div>

         <div class="col-md-8 hidden-xs" style="position:relative;">
            <div class="row" style="padding:0px">
                    <div class="col-md-2">    
                         <button class="btn btn-default balcony-button" ng-click="floorHidden = !floorHidden">
                            <!-- <i class="fa fa-chevron-left"></i>  -->
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            BACK TO FLOOR
                         </button>   
                    </div>

                    <div class="col-md-5"></div>     

                    <div class="col-md-5">
                         <button class="btn btn-default balcony-button" class="balcony-button" 
                         ng-click="displayUnit(unit.unit - 1)"
                         ng-disabled="(unit.unit - 1) === 900">
                            <!-- <i class="fa fa-chevron-left"></i>  -->
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            PREVIOUS 
                         </button>            
                
                          <button class="btn btn-default balcony-button" ng-click="displayUnit(unit.unit + 1)"
                          ng-disabled="(unit.unit + 1) === 905"> 
                            NEXT 
                            <!-- <i class="fa fa-chevron-right"></i> -->
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                          </button> 
                     </div> 

                </div>
                <br>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-11">
                        <img ng-src="{{unit.planImage}}" style="width:100%">
                  </div>
               <!--    <div class="col-md-1"></div> -->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end desktop unit -->

<!-- mobile unit -->
<div class="container hidden-sm hidden-md hidden-lg mobile-floor-unit-wrapper" ng-show="floorHidden">
    <div class="row mobile-unit-nav">
      <div class="col-xs-4 col-sm-4">
        <a href="#" ng-click="displayUnit(unit.unit - 1)" ng-disabled="(unit.unit - 1) === 900"> 
         <!--  <i class="fa fa-angle-left"></i>  -->
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        Previous</a>
      </div>
      <div class="col-xs-5 col-sm-6">Unit {{unit.unit}}</div>
      <div class="col-xs-3 col-sm-4">
        <a href="#" ng-click="displayUnit(unit.unit + 1)" ng-disabled="(unit.unit + 1) === 905">
          Next 
     <!--      <i class="fa fa-angle-right"></i> -->
           <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
      </div>
    </div>
  
    <div class="row">
        <div class="col-sm-12 col-xs-12 hidden-sm hidden-md hidden-lg">
            <div class="row">
                  <div class="col-sm-4 col-xs-4"></div>
                  <div class="col-sm-6 col-xs-6"></div>
                  <div class="col-sm-2 col-xs-2">
                      <a href="#" ng-click="floorHidden = !floorHidden">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </a>
                  </div>
                </div>
            <img ng-src="{{unit.planImage}}" class="mobile-unit-image">
        </div>
    </div>
      
      <div class="row">
        <div class="col-sm-12 col-xs-12 hidden-sm hidden-md hidden-lg text-center">
            <h1 style="color:white;font-size:23px">Unit {{unit.unit}}<br> Plan {{unit.planId}}</h1>
            <div class="yellow-border">
                <h2>SQUARE FOOTAGE<br> {{unit.interiorSqFt}}</h2>
                <hr>
                <h2>BEDROOMS<br> {{unit.bedrooms}}</h2>
                <hr>
                <h2>BATHS<br> {{unit.baths}}</h2>
                <hr>
                <h2>GOURMET KITCHEN WITH PENINSULA</h2>
                <hr>
                <h2>SPACIOUS GREAT ROOM WITH PENINSULA</h2>
                <hr>
                    <button class="btn btn-default balcony-button" class="balcony-button">BALCONY VIEW  
                    <!--   <i class="fa fa-camera"></i>  -->
                            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                    </button>
            </div>
        </div>
    </div>
</div>
<!-- end mobile unit -->