<!-- desktop floor -->
<div class="row hidden-xs" style="background-color:white;margin-top:100px" ng-hide="floorHidden">
    <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs" style="position:relative">

            <div class="row" style="margin-bottom:10px">
                <div class="col-sm-4 col-md-5"></div>
                <div class="col-sm-4 col-md-2">
                    <br>
                    <br>
                    <br>
                     <div class="btn-group" dropdown>
                      <button type="button" class="btn floor-top-button hidden-xs" dropdown-toggle>
                        FLOOR 5
                      <!--   <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ui-sref="floorthree">FLOOR 3</a></li>
                        <li><a ui-sref="floorfour">FLOOR 4</a></li>
                        <li><a class="floor-active" ui-sref="floorfive">FLOOR 5</a></li>
                        <li><a ui-sref="floorsix">FLOOR 6</a></li>
                        <li><a ui-sref="floorseven">FLOOR 7</a></li>
                        <li><a ui-sref="flooreight">FLOOR 8</a></li>
                        <li><a ui-sref="floornine">FLOOR 9</a></li>
                      </ul>
                    </div>

                </div>
                <div class="col-sm-4 col-md-5"></div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12" style="position:relative" ng-show="showFloor">
                    <img src="images/floors/floor4-7_desktop.png" class="floor-main hidden-xs">
                         <button ng-class="checkUnitSold(501) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:63%;left:78%"
                              ng-click="displayUnit(501)"
                              ng-disabled="checkUnitSold(501) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(501) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(501) ? 'SOLD': '501'}}
                            </div>
                          </div>
                         </button>
                        
                         <button ng-class="checkUnitSold(502) ? 'image-overlay-sold': 'image-overlay'" 
                             style="top:65%;left:65%"                 
                              ng-click="displayUnit(502)"
                              ng-disabled="checkUnitSold(502) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(502) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(502) ? 'SOLD': '502'}}
                            </div>
                          </div>
                         </button>
                        
                         <button ng-class="checkUnitSold(503) ? 'image-overlay-sold': 'image-overlay'" 
                               style="top:59%;left:55%"
                              ng-click="displayUnit(503)"
                              ng-disabled="checkUnitSold(503) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(503) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(503) ? 'SOLD': '503'}}
                            </div>
                          </div>
                         </button>
                         
                         <button ng-class="checkUnitSold(504) ? 'image-overlay-sold': 'image-overlay'" 
                               style="top:59%;left:44%"
                              ng-click="displayUnit(504)"
                              ng-disabled="checkUnitSold(504) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(504) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(504) ? 'SOLD': '504'}}
                            </div>
                          </div>
                         </button>
                         
                         <button ng-class="checkUnitSold(505) ? 'image-overlay-sold': 'image-overlay'" 
                               style="top:61%;left:33%"
                              ng-click="displayUnit(505)"
                              ng-disabled="checkUnitSold(505) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(505) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(505) ? 'SOLD': '505'}}
                            </div>
                          </div>
                         </button>
                         
          
                         <button ng-class="checkUnitSold(506) ? 'image-overlay-sold': 'image-overlay'" 
                             style="top:61%;left:21%"
                              ng-click="displayUnit(506)"
                              ng-disabled="checkUnitSold(506) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(506) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(506) ? 'SOLD': '506'}}
                            </div>
                          </div>
                         </button>

                         
                         <button ng-class="checkUnitSold(507) ? 'image-overlay-sold': 'image-overlay'" 
                               style="top:33%;left:21%"
                              ng-click="displayUnit(507)"
                              ng-disabled="checkUnitSold(507) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(507) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(507) ? 'SOLD': '507'}}
                            </div>
                          </div>
                         </button>


                         <button ng-class="checkUnitSold(508) ? 'image-overlay-sold': 'image-overlay'" 
                               style="top:14%;left:21%"
                              ng-click="displayUnit(508)"
                              ng-disabled="checkUnitSold(508) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(508) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(508) ? 'SOLD': '508'}}
                            </div>
                          </div>
                         </button>

                         
                        <button ng-class="checkUnitSold(509) ? 'image-overlay-sold': 'image-overlay'" 
                             style="top:13%;left:36%"
                              ng-click="displayUnit(509)"
                              ng-disabled="checkUnitSold(509) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(509) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(509) ? 'SOLD': '509'}}
                            </div>
                          </div>
                         </button>
                         
                         <button ng-class="checkUnitSold(510) ? 'image-overlay-sold': 'image-overlay'" 
                            style="top:14%;left:51%"                
                              ng-click="displayUnit(510)"
                              ng-disabled="checkUnitSold(510) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(510) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(510) ? 'SOLD': '510'}}
                            </div>
                          </div>
                         </button>
                         
                         <button ng-class="checkUnitSold(511) ? 'image-overlay-sold': 'image-overlay'" 
                             style="top:15%;left:66%"     
                              ng-click="displayUnit(511)"
                              ng-disabled="checkUnitSold(511) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(511) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(511) ? 'SOLD': '511'}}
                            </div>
                          </div>
                         </button>
                      
                         
                         <button ng-class="checkUnitSold(512) ? 'image-overlay-sold': 'image-overlay'" 
                               style="top:16%;left:78%"
                              ng-click="displayUnit(512)"
                              ng-disabled="checkUnitSold(512) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(512) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(512) ? 'SOLD': '512'}}
                            </div>
                          </div>
                         </button>
                </div>
            </div>
              
    </div>
</div>
<!-- end desktop floor -->

<!-- mobile floor -->
<div class="container hidden-sm hidden-md hidden-lg" style="background-color:white;margin-top:95px" ng-hide="floorHidden">
    <div class="row">
        <div class="col-sm-2 col-xs-2"></div>
        <div class="col-sm-8 col-xs-8 floor-button-wrapper"> 
                    <div dropdown>
                      <button type="button" class="btn floor-button-floor hidden-lg hidden-sm hidden-md" dropdown-toggle>
                        FLOOR 5
                      <!--   <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ui-sref="floorthree">FLOOR 3</a></li>
                        <li><a ui-sref="floorfour">FLOOR 4</a></li>
                        <li><a ui-sref="floorfive">FLOOR 5</a></li>
                        <li><a ui-sref="floorsix">FLOOR 6</a></li>
                        <li><a ui-sref="floorseven">FLOOR 7</a></li>
                        <li><a ui-sref="flooreight">FLOOR 8</a></li>
                        <li><a ui-sref="floornine">FLOOR 9</a></li>
                      </ul>
                    </div>          
        </div>
        <div class="col-sm-2 col-xs-2"></div>
    </div>    
    
    <div class="row">
        <div class="col-sm-12 col-xs-12" style="position:relative" ng-show="showFloor">
            <img src="images/floors/floor4-7_mobile.png" class="floor-main-floor hidden-lg hidden-sm hidden-md" style="background-color:white">
              <button ng-class="checkUnitSold(501) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                     style="top:12%;left:58%"
                    ng-click="displayUnit(501)"
                    ng-disabled="checkUnitSold(501) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(501) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(501) ? 'SOLD': '501'}}
                    </div>
                </div>
            </button>


            <button ng-class="checkUnitSold(502) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'"  
                   style="top:25%;left:58%"
                    ng-click="displayUnit(502)"
                    ng-disabled="checkUnitSold(502) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(502) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(502) ? 'SOLD': '502'}}
                    </div>
                </div>
            </button>


    
        <button ng-class="checkUnitSold(503) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                   style="top:36%;left:58%"
                    ng-click="displayUnit(503)"
                    ng-disabled="checkUnitSold(503) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(503) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(503) ? 'SOLD': '503'}}
                    </div>
                </div>
            </button>
     
        <button ng-class="checkUnitSold(504) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                   style="top:49%;left:58%"
                    ng-click="displayUnit(504)"
                    ng-disabled="checkUnitSold(504) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(504) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(504) ? 'SOLD': '504'}}
                    </div>
                </div>
            </button> 
      
        <button ng-class="checkUnitSold(505) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                   style="top:61%;left:58%"
                    ng-click="displayUnit(505)"
                    ng-disabled="checkUnitSold(505) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(505) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(505) ? 'SOLD': '505'}}
                    </div>
                </div>
            </button> 
     
        <button ng-class="checkUnitSold(506) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                     style="top:78%;left:58%"
                    ng-click="displayUnit(506)"
                    ng-disabled="checkUnitSold(506) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(506) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(506) ? 'SOLD': '506'}}
                    </div>
                </div>
            </button> 
    
        <button ng-class="checkUnitSold(507) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                   style="top:78%;left:38%"
                    ng-click="displayUnit(507)"
                    ng-disabled="checkUnitSold(507) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(507) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(507) ? 'SOLD': '507'}}
                    </div>
                </div>
            </button> 
       
        <button ng-class="checkUnitSold(508) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                   style="top:78%;left:15%"
                    ng-click="displayUnit(508)"
                    ng-disabled="checkUnitSold(508) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(508) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(508) ? 'SOLD': '508'}}
                    </div>
                </div>
            </button> 
       
        <button ng-class="checkUnitSold(509) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                   style="top:58%;left:20%"            
                    ng-click="displayUnit(509)"
                    ng-disabled="checkUnitSold(509) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(509) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(509) ? 'SOLD': '509'}}
                    </div>
                </div>
            </button> 
      
        <button ng-class="checkUnitSold(510) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                   style="top:37%;left:24%"   
                    ng-click="displayUnit(510)"
                    ng-disabled="checkUnitSold(510) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(510) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(510) ? 'SOLD': '510'}}
                    </div>
                </div>
            </button> 
      
        <button ng-class="checkUnitSold(511) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                   style="top:20%;left:24%"    
                    ng-click="displayUnit(511)"
                    ng-disabled="checkUnitSold(511) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(511) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(511) ? 'SOLD': '511'}}
                    </div>
                </div>
            </button> 
  
        <button ng-class="checkUnitSold(512) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                     style="top:10%;left:24%"
                    ng-click="displayUnit(512)"
                    ng-disabled="checkUnitSold(512) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(512) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(512) ? 'SOLD': '512'}}
                    </div>
                </div>
            </button>
        </div>
    </div>

</div>
<!-- end mobile floor -->