<!-- desktop floor -->
<div class="row hidden-xs" style="background-color:white;margin-top:100px" ng-hide="floorHidden">
    <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs" style="position:relative">

            <div class="row" style="margin-bottom:10px">
                <div class="col-sm-4 col-md-5"></div>
                <div class="col-sm-4 col-md-2">
                    <br>
                    <br>
                    <br>
                     <div class="btn-group" dropdown>
                      <button type="button" class="btn floor-top-button hidden-xs" dropdown-toggle>
                        FLOOR 3
                      <!--   <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a class="floor-active" ui-sref="floorthree">FLOOR 3</a></li>
                        <li><a ui-sref="floorfour">FLOOR 4</a></li>
                        <li><a ui-sref="floorfive">FLOOR 5</a></li>
                        <li><a ui-sref="floorsix">FLOOR 6</a></li>
                        <li><a ui-sref="floorseven">FLOOR 7</a></li>
                        <li><a ui-sref="flooreight">FLOOR 8</a></li>
                        <li><a ui-sref="floornine">FLOOR 9</a></li>
                      </ul>
                    </div>

                </div>
                <div class="col-sm-4 col-md-5"></div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12" style="position:relative" ng-show="showFloor">
                    <img src="images/floors/floor3_desktop.png" class="floor-main hidden-xs">
                        
                        <button ng-class="checkUnitSold(301) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:67%;left:75%"
                              ng-click="displayUnit(301)"
                              ng-disabled="checkUnitSold(301) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(301) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(301) ? 'SOLD': '301'}}
                            </div>
                          </div>
                         </button>
                        
                         <button ng-class="checkUnitSold(302) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:67%;left:65%"
                              ng-click="displayUnit(302)"
                              ng-disabled="checkUnitSold(302) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(302) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(302) ? 'SOLD': '302'}}
                            </div>
                          </div>
                         </button>
                        
                         <button ng-class="checkUnitSold(303) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:62%;left:53%"
                              ng-click="displayUnit(303)"
                              ng-disabled="checkUnitSold(303) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(303) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(303) ? 'SOLD': '303'}}
                            </div>
                          </div>
                         </button>
                         
                         <button ng-class="checkUnitSold(304) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:62%;left:44%"
                              ng-click="displayUnit(304)"
                              ng-disabled="checkUnitSold(304) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(304) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(304) ? 'SOLD': '304'}}
                            </div>
                          </div>
                         </button>
                         
                         <button ng-class="checkUnitSold(305) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:65%;left:31%" 
                              ng-click="displayUnit(305)"
                              ng-disabled="checkUnitSold(305) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(305) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(305) ? 'SOLD': '305'}}
                            </div>
                          </div>
                         </button>
                         
          
                         <button ng-class="checkUnitSold(306) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:65%;left:21%" 
                              ng-click="displayUnit(306)"
                              ng-disabled="checkUnitSold(306) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(306) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(306) ? 'SOLD': '306'}}
                            </div>
                          </div>
                         </button>

                         
                         <button ng-class="checkUnitSold(307) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:40%;left:21%" 
                              ng-click="displayUnit(307)"
                              ng-disabled="checkUnitSold(307) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(307) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(307) ? 'SOLD': '307'}}
                            </div>
                          </div>
                         </button>


                         <button ng-class="checkUnitSold(308) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:20%;left:21%"
                              ng-click="displayUnit(308)"
                              ng-disabled="checkUnitSold(308) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(308) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(308) ? 'SOLD': '308'}}
                            </div>
                          </div>
                         </button>

                         
                        <button ng-class="checkUnitSold(309) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:22%;left:36%" 
                              ng-click="displayUnit(309)"
                              ng-disabled="checkUnitSold(309) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(309) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(309) ? 'SOLD': '309'}}
                            </div>
                          </div>
                         </button>
                         
                         <button ng-class="checkUnitSold(310) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:24%;left:51%" 
                              ng-click="displayUnit(310)"
                              ng-disabled="checkUnitSold(310) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(310) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(310) ? 'SOLD': '310'}}
                            </div>
                          </div>
                         </button>
                         
                         <button ng-class="checkUnitSold(311) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:27%;left:65%"
                              ng-click="displayUnit(311)"
                              ng-disabled="checkUnitSold(311) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(311) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(311) ? 'SOLD': '311'}}
                            </div>
                          </div>
                         </button>
                      
                         
                         <button ng-class="checkUnitSold(312) ? 'image-overlay-sold': 'image-overlay'" 
                              style="top:27%;left:75%"
                              ng-click="displayUnit(312)"
                              ng-disabled="checkUnitSold(312) ? true : false">
                          <div class="inner-overlay">
                            <div ng-class="checkUnitSold(312) ? 'inner-text-sold': 'inner-text'" >
                              {{checkUnitSold(312) ? 'SOLD': '312'}}
                            </div>
                          </div>
                         </button>
                
                </div>
            </div>
              
    </div>
</div>
<!-- end desktop floor -->

<!-- mobile floor -->
<div class="container hidden-sm hidden-md hidden-lg" style="background-color:white;margin-top:95px" ng-hide="floorHidden">
    <div class="row">
        <div class="col-sm-2 col-xs-2"></div>
        <div class="col-sm-8 col-xs-8 floor-button-wrapper"> 
                    <div dropdown>
                      <button type="button" class="btn floor-button-floor hidden-lg hidden-sm hidden-md" dropdown-toggle>
                        FLOOR 3
                      <!--   <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ui-sref="floorthree">FLOOR 3</a></li>
                        <li><a ui-sref="floorfour">FLOOR 4</a></li>
                        <li><a ui-sref="floorfive">FLOOR 5</a></li>
                        <li><a ui-sref="floorsix">FLOOR 6</a></li>
                        <li><a ui-sref="floorseven">FLOOR 7</a></li>
                        <li><a ui-sref="flooreight">FLOOR 8</a></li>
                        <li><a ui-sref="floornine">FLOOR 9</a></li>
                      </ul>
                    </div>          
        </div>
        <div class="col-sm-2 col-xs-2"></div>
    </div>    
    
    <div class="row">
        <div class="col-sm-12 col-xs-12" style="position:relative" ng-show="showFloor">
            <img src="images/floors/floor3_mobile.png" class="floor-main-floor hidden-lg hidden-sm hidden-md" style="background-color:white">
            
            <button ng-class="checkUnitSold(312) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                    style="top:11%;left:26%"
                    ng-click="displayUnit(312)"
                    ng-disabled="checkUnitSold(312) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(312) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(312) ? 'SOLD': '312'}}
                    </div>
                </div>
            </button>


            <button ng-class="checkUnitSold(311) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'"  
                    style="top:20%;left:26%" 
                    ng-click="displayUnit(311)"
                    ng-disabled="checkUnitSold(311) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(311) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(311) ? 'SOLD': '311'}}
                    </div>
                </div>
            </button>


    
        <button ng-class="checkUnitSold(310) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                      style="top:39%;left:26%" 
                    ng-click="displayUnit(310)"
                    ng-disabled="checkUnitSold(310) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(310) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(310) ? 'SOLD': '310'}}
                    </div>
                </div>
            </button>
     
        <button ng-class="checkUnitSold(309) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                      style="top:58%;left:20%"
                    ng-click="displayUnit(309)"
                    ng-disabled="checkUnitSold(309) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(309) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(309) ? 'SOLD': '309'}}
                    </div>
                </div>
            </button> 
      
        <button ng-class="checkUnitSold(308) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                     style="top:78%;left:17%"
                    ng-click="displayUnit(308)"
                    ng-disabled="checkUnitSold(308) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(308) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(308) ? 'SOLD': '308'}}
                    </div>
                </div>
            </button> 
     
        <button ng-class="checkUnitSold(307) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                     style="top:78%;left:38%"
                    ng-click="displayUnit(307)"
                    ng-disabled="checkUnitSold(307) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(307) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(307) ? 'SOLD': '307'}}
                    </div>
                </div>
            </button> 
    
        <button ng-class="checkUnitSold(306) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                       style="top:78%;left:58%"
                    ng-click="displayUnit(306)"
                    ng-disabled="checkUnitSold(306) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(306) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(306) ? 'SOLD': '306'}}
                    </div>
                </div>
            </button> 
       
        <button ng-class="checkUnitSold(305) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                style="top:61%;left:60%"
                    ng-click="displayUnit(305)"
                    ng-disabled="checkUnitSold(305) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(305) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(305) ? 'SOLD': '305'}}
                    </div>
                </div>
            </button> 
       
        <button ng-class="checkUnitSold(304) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                    style="top:49%;left:60%"
                    ng-click="displayUnit(304)"
                    ng-disabled="checkUnitSold(304) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(304) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(304) ? 'SOLD': '304'}}
                    </div>
                </div>
            </button> 
      
        <button ng-class="checkUnitSold(303) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                    style="top:36%;left:60%"
                    ng-click="displayUnit(303)"
                    ng-disabled="checkUnitSold(303) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(303) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(303) ? 'SOLD': '303'}}
                    </div>
                </div>
            </button> 
      
        <button ng-class="checkUnitSold(302) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                   style="top:25%;left:60%"
                    ng-click="displayUnit(302)"
                    ng-disabled="checkUnitSold(302) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(302) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(302) ? 'SOLD': '302'}}
                    </div>
                </div>
            </button> 
  
        <button ng-class="checkUnitSold(301) ? 'image-overlay-mobile-sold': 'image-overlay-mobile'" 
                        style="top:11%;left:60%" 
                    ng-click="displayUnit(301)"
                    ng-disabled="checkUnitSold(301) ? true : false">
                <div class="inner-overlay">
                    <div ng-class="checkUnitSold(301) ? 'inner-text-mobile-sold': 'inner-text-mobile'" >
                        {{checkUnitSold(301) ? 'SOLD': '301'}}
                    </div>
                </div>
            </button>
        

        </div>
    </div>

</div>
<!-- end mobile floor -->