<div class="row hidden-xs" style="background-color:white;margin-top:100px" ng-hide="floorHidden">
    <div class="col-md-12 col-lg-12 hidden-xs" style="position:relative">

            <div class="row" style="margin-bottom:10px">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <br>
                    <br>
                    <br>
                    <button class="btn btn-default floor-top-button hidden-xs" >
                    Floor 5 
                    <i class="fa fa-angle-down"></i>
                    </button>
                </div>
                <div class="col-md-5"></div>
            </div>

            <div class="row">
                <div class="col-md-12" style="position:relative">
                    <img src="images/floor_north.png" class="floor-main hidden-xs">
                    <div class="image-overlay" style="top:14%;left:21%" ng-click="displayUnit(508)">
                        <!-- ng-click function that takes you to apartment by unit number -->
                        <!-- do a controller $filter for the unit number -->
                    </div>
                     <div class="image-overlay" style="top:13%;left:36%" ng-click="displayUnit(509)"></div>
                </div>
            </div>
              
    </div>
</div>

<!-- desktop unit -->
 <div class="container" ng-show="floorHidden">
    <div class="row unit-wrapper" class="hidden-xs">
        <div class="col-md-1 text-center hidden-xs">
                
        </div>
        <div class="col-md-3 text-center hidden-xs">
            <h1 style="color:white;font-size:23px">Unit {{unit.unit}}<br> Plan {{unit.planId}}</h1>
            <div class="yellow-border">
                <h2>{{unit.interiorSqFt}} SQ. FT</h2>
                <hr>
                <h2>BEDROOMS<br> {{unit.bedrooms}}</h2>
                <hr>
                <h2>FULL BATHS<br> {{unit.baths}}</h2>
                <hr>
                <h2>GOURMET KITCHEN WITH PENINSULA</h2>
                <hr>
                <h2>SPACIOUS GREAT ROOM WITH PENINSULA</h2>
                <hr>
                <button class="btn btn-default balcony-button" class="balcony-button">BALCONY VIEW
                    <i class="fa fa-camera"></i>
                </button>
            </div>
            <br>
        </div>

        <div class="col-md-8 hidden-xs" style="position:relative;width:700px">
            <div class="row">
                    <div class="col-md-2">    
                         <button class="btn btn-default balcony-button" ng-click="floorHidden = !floorHidden">
                            <i class="fa fa-chevron-left"></i> BACK TO LIST
                         </button>   
                    </div>

                    <div class="col-md-4"></div>     

                    <div class="col-md-6">
                        <!--  <button class="btn btn-default balcony-button" class="balcony-button" 
                         ng-click="showPrevious(filteredList, unitIndex)"
                         ng-disabled="unitIndex === 0">
                            <i class="fa fa-chevron-left"></i> PREVIOUS 
                         </button>            
                
                          <button class="btn btn-default balcony-button" ng-click="showNext(filteredList, unitIndex)"
                            ng-disabled="filteredList.length === unitIndex + 1"> NEXT
                            <i class="fa fa-chevron-right"></i>
                          </button>  -->
                     </div> 

                </div>
            </div>

            <img ng-src="{{unit.planImage}}" style="width:50%">

        </div>
    </div>
</div>
<!-- end desktop unit -->