<!-- desktop -->
<div class="container" ng-hide="listHidden">
        <div class="row list-wrapper"> 
            <div class="col-sm-4 col-md-4">
                 
                 <div class="row">
                    <div class="col-xs-12 col-sm-11 col-md-11 select-group">

                          <div auto-close="always" dropdown>
                            <button type="button" class="btn" dropdown-toggle>
                              {{bedroomText}} BEDROOM
                              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                              <li><a ng-click="selectListBedroom('')">ALL BEDROOMS</a></li>
                              <li><a ng-click="selectListBedroom(1)">1 BEDROOM</a></li>
                              <li><a ng-click="selectListBedroom(2)">2 BEDROOMS</a></li>
                              <li><a ng-click="selectListBedroom(3)">3 BEDROOMS</a></li>
                            </ul>
                          </div>

                          <div auto-close="always" dropdown>
                            <button type="button" class="btn" dropdown-toggle>
                                {{sortText | uppercase}}
                              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                              <li><a ng-click="selectSort('floor')">FLOOR: LOW TO HIGH</a></li>
                              <li><a ng-click="selectSort('-floor')">FLOOR: HIGH TO LOW</a></li>
                              <li><a ng-click="selectSort('bedrooms')">BEDROOMS: LOW TO HIGH</a></li>
                              <li><a ng-click="selectSort('-bedrooms')">BEDROOMS: HIGH TO LOW</a></li>
                              <li><a ng-click="selectSort('baths')">BATHS: LOW TO HIGH</a></li>
                              <li><a ng-click="selectSort('-baths')">BATHS: HIGH TO LOW</a></li>
                              <li><a ng-click="selectSort('interiorSqFt')">SQUARE FOOTAGE: LOW TO HIGH</a></li>
                              <li><a ng-click="selectSort('-interiorSqFt')">SQUARE FOOTAGE: HIGH TO LOW</a></li>
                            </ul>
                          </div>
                                                
                     </div>
                    
                   <div class="col-sm-1 col-md-1"></div>
                  </div>
            
            </div>

            <div class="col-xs-12 col-sm-8 col-md-8  list-group">
            <div ng-repeat="item in (filteredItems = (test | filter:{bedrooms:bedrooms} | filter:{sold:false} | orderBy:sort ))">
              <div class="row list-group-item">
                    <div class="col-sm-3 col-md-3 hidden-xs">
                          <img ng-src="{{item.planImage}}" style="height:150px" class="img-thumbnail"> 
                    </div>
                
                    <div class="col-md-5 col-sm-5 col-xs-7">
                        <h4>Unit {{item.unit}} / Plan {{item.planId}}</h4>         
                         <p>Square Footage: {{item.interiorSqFt}}<br>
                            Bedrooms: {{item.bedrooms}}<br>
                            Baths: {{item.baths}}<br>
                            Floor: {{item.floor}}</p>
                    </div>
                
                    <div class="col-md-4 col-sm-4 col-xs-4">
                         <button class="btn btn-default detail-button" 
                              ng-click="newUnit(item, filteredItems, $index)">
                              VIEW DETAILS    
                                    <!--      ng-click="showUnit(filteredItems, $index)" -->
                          <!--   <i class="fa fa-chevron-right"></i></button> -->
                               <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                </div>
   
            </div>

        </div>
    </div>
</div>
<!-- end desktop -->