<!-- desktop -->
<div class="container">
        <div class="row lower-top">
            <div class="col-md-4 ">
                 
                 <div class="row">
                    <div class="col-md-10" style="margin-top:7%">
                        <button class="btn btn-default search-button">2 BEDROOMS    
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <br>
                       <button class="btn btn-default search-button">SORT BY: FLOOR    
                            <i class="fa fa-chevron-down"></i>
                        </button>  
                     </div>
                    
                   <div class="col-md-2"></div>
                  </div>
            
            </div>

            <div class="col-md-8  list-group">
            
            <!-- 511 -->
              <div class="row list-group-item">
                <div class="col-md-3 hidden-xs">
                      <img src="images/planl.png" style="width:85%" class="img-thumbnail"> 
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h4>Unit 511 / Plan L</h4>         
                    <p>1,106 sq. ft.<br>
                        Bedrooms: 2</br>
                        Full Baths: 2</br>
                        Floor 5</p>
                        <button class="btn btn-default detail-button hidden-md hidden-lg">VIEW DETAILS    <i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="col-md-3 hidden-xs">
                     <button class="btn btn-default detail-button">VIEW DETAILS    <i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
            <!-- 511 -->
            <!-- 512 -->
            <div class="row list-group-item">
                <div class="col-md-3 hidden-xs">
                      <img src="images/planb.png" style="width:85%" class="img-thumbnail"> 
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h4>Unit 502 / Plan B</h4>         
                    <p>1,106 sq. ft.<br>
                        Bedrooms: 2</br>
                        Full Baths: 2</br>
                        Floor 5</p>
                         <button class="btn btn-default detail-button hidden-md hidden-lg">VIEW DETAILS    <i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="col-md-3 hidden-xs">
                     <button class="btn btn-default detail-button">VIEW DETAILS    <i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
            <!-- 512 -->
            <!-- 513 -->
            <div class="row list-group-item">
                <div class="col-md-3 hidden-xs">
                      <img src="images/pland.png" style="width:85%" class="img-thumbnail"> 
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h4>Unit 504 / Plan D</h4>         
                    <p>1,106 sq. ft.<br>
                        Bedrooms: 2</br>
                        Full Baths: 2</br>
                        Floor 5</p>
                         <button class="btn btn-default detail-button hidden-md hidden-lg">VIEW DETAILS    <i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="col-md-3 hidden-xs">
                     <button class="btn btn-default detail-button">VIEW DETAILS    <i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
            <!-- 513 -->
             <!-- 514 -->
            <div class="row list-group-item">
                <div class="col-md-3">
                      <img src="images/planl.png" style="width:85%" class="img-thumbnail"> 
                </div>
                <div class="col-md-6">
                    <h4>Unit 506 / Plan P</h4>         
                    <p>1,106 sq. ft.<br>
                        Bedrooms: 2</br>
                        Full Baths: 2</br>
                        Floor 5</p>
                </div>
                <div class="col-md-3">
                     <button class="btn btn-default detail-button">VIEW DETAILS    <i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
            <!-- 514 -->
        </div>
    </div>
</div>

<!-- end desktop -->