desktop -->
<div class="container">
        <div class="row list-wrapper"> 
            <!-- lower-top -->
            <div class="col-md-4">
                 
                 <div class="row">
                    <div class="col-md-10 select-group">
                     
                      <!--   <button class="btn btn-default search-button">2 BEDROOMS    
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <br>
                       <button class="btn btn-default search-button">SORT BY: FLOOR    
                            <i class="fa fa-chevron-down"></i>
                        </button>   -->


                         <select ng-model="bedrooms" class="form-control">
                              <option value="1">1 Bedroom</option>
                              <option value="2">2 Bedrooms</option>
                              <option value="3">3 Bedrooms</option>
                          </select>

                        <select ng-model="sort" class="form-control">
                              <option value="floor">Sort By: Floor</option>
                              <option value="bedrooms" >Sort By: Bedrooms</option>
                              <option value="bathrooms">Sort By: Bathrooms</option>
                              <option value="squarefoot">Sort By: Square Feet</option>
                          </select>
                     
                     </div>
                    
                   <div class="col-md-2"></div>
                  </div>
            
            </div>

            <div class="col-md-8  list-group">
            
            <div ng-repeat="item in test | filter:{bedrooms:bedrooms} | orderBy:sort">
              <div class="row list-group-item">
                    <div class="col-md-3 hidden-xs">
                          <img ng-src="{{item.image}}" style="width:85%" class="img-thumbnail"> 
                    </div>
                
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h4>Unit {{item.unit}} / Plan {{item.plan}}</h4>         
                        <p>{{item.squarefoot}} sq. ft<br>
                            Bedrooms: {{item.bedrooms}}</br>
                            Full Baths: {{item.bathrooms}}</br>
                            Floor {{item.floor}}</p>
                    </div>
                
                    <div class="col-md-3 col-sm-5 col-xs-5">
                         <button class="btn btn-default detail-button">VIEW DETAILS    
                            <i class="fa fa-chevron-right"></i></button>
                    </div>
                    <div class="col-sm-1 col-xs-1"></div>
                </div>
   
            </div>

        </div>
    </div>
</div>

<!-- end desktop