<!-- desktop landing -->
<div class="landing-wrapper">
  <div class="main-building-image hidden-xs">
          <div class="button-wrapper">
              <h3>EXPLORE 72 TOWNSEND</h3>

                   <div class="btn-group" dropdown>
                      <button type="button" class="btn" dropdown-toggle>
                        BEDROOMS  <i class="fa fa-chevron-down"></i>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ng-click='selectBedrooms(1)'>1 BEDROOM</a></li>
                        <li><a ng-click='selectBedrooms(2)'>2 BEDROOM</a></li>
                        <li><a ng-click='selectBedrooms(3)'>3 BEDROOM</a></li>
                      </ul>
                    </div>

                    <div class="btn-group" dropdown>
                      <button type="button" class="btn" dropdown-toggle>
                        FLOOR  <i class="fa fa-chevron-down"></i>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a href="#">FLOOR 3</a></li>
                        <li><a href="#">FLOOR 4</a></li>
                        <li><a ui-sref="floor">FLOOR 5</a></li>
                        <li><a href="#">FLOOR 6</a></li>
                        <li><a href="#">FLOOR 7</a></li>
                        <li><a href="#">FLOOR 8</a></li>
                        <li><a href="#">FLOOR 9</a></li>
                      </ul>
                    </div>


        </div>       
  </div>
</div>
<!-- end desktop landing -->
<!-- mobile landing -->
  <div style="background-color:black hidden-md hidden-lg">
    <div style="height: 218px" class="hidden-md hidden-lg">
    <carousel interval="0" class="hidden-md hidden-lg" >
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
       <!--  <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div> -->
      </slide>
    </carousel>
  </div>

<br>
<br>
<br>
<div class="container">
      <div class="mobile-button-wrapper hidden-md hidden-lg">
        
        <div class="btn-group-vertical">
                  <h3 class="hidden-md hidden-lg">EXPLORE 72 TOWNSEND</h3>
                  <div class="btn-group" dropdown>
                      <button type="button" class="btn" dropdown-toggle>
                        BEDROOMS  <i class="fa fa-chevron-down"></i>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a href="#">1 BEDROOM</a></li>
                        <li><a href="#">2 BEDROOM</a></li>
                        <li><a href="#">3 BEDROOM</a></li>
                      </ul>
                    </div>
                    <br>
                    <div class="btn-group" dropdown>
                      <button type="button" class="btn" dropdown-toggle>
                        FLOOR  <i class="fa fa-chevron-down"></i>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                          <li><a href="#">FLOOR 3</a></li>
                          <li><a href="#">FLOOR 4</a></li>
                          <li><a href="#">FLOOR 5</a></li>
                          <li><a href="#">FLOOR 6</a></li>
                          <li><a href="#">FLOOR 7</a></li>
                          <li><a href="#">FLOOR 8</a></li>
                          <li><a href="#">FLOOR 9</a></li>
                      </ul>
                    </div>
          </div>
  
    </div>
<!-- mobile -->
