<!-- desktop landing -->
<div class="landing-wrapper" style="max-width: 1381px;
margin: 0 auto !important;
float: none !important;">
  <div class="row hidden-xs">

    <div class="col-md-12">
          <img id="map"src="images/72Townsend_EastViewLARGE.png" height="615" width="1381" usemap="#floorbar">
          <map name="floorbar">
              <area id="floor9" ui-sref="floornine" shape="poly" coords="719,123,719,186,1285,183,1284,119"
              maphilight='{"strokeColor":"000000","strokeWidth":2,"fillColor":"000000","fillOpacity":0.6}'>
             <area id="floor8" ui-sref="flooreight" shape="poly" coords="603,185,603,242,1357,239,1356,181" 
              maphilight='{"strokeColor":"000000","strokeWidth":2,"fillColor":"000000","fillOpacity":0.6}'>
               <area id="floor7" ui-sref="floorseven" shape="poly" coords="391,243,390,290,1356,286,1358,241,1354,239"
              maphilight='{"strokeColor":"000000","strokeWidth":2,"fillColor":"000000","fillOpacity":0.6}'>
               <area id="floor6" ui-sref="floorsix" shape="poly" coords="391,292,389,343,1357,337,1357,288" 
              maphilight='{"strokeColor":"000000","strokeWidth":2,"fillColor":"000000","fillOpacity":0.6}'>
              <area id="floor5" ui-sref="floorfive" shape="poly" coords="389,346,390,392,1358,386,1358,335"
              maphilight='{"strokeColor":"000000","strokeWidth":2,"fillColor":"000000","fillOpacity":0.6}'>
              <area id="floor4" ui-sref="floorfour" shape="poly" coords="390,394,391,445,1357,437,1357,388"
              maphilight='{"strokeColor":"000000","strokeWidth":2,"fillColor":"000000","fillOpacity":0.6}'>
               <area id="floor3" ui-sref="floorthree" shape="poly" coords="391,448,393,497,1358,494,1358,439"
              maphilight='{"strokeColor":"000000","strokeWidth":2,"fillColor":"000000","fillOpacity":0.6}'>
          </map>
     </div>  

          <div class="button-wrapper hidden-xs">
              <h3>EXPLORE 72 TOWNSEND</h3>

                   <div dropdown>
                      <button type="button" class="btn" dropdown-toggle>
                        BEDROOMS  <!-- <i class="fa fa-chevron-down"></i> -->
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ng-click='selectBedrooms(1)'>1 BEDROOM</a></li>
                        <li><a ng-click='selectBedrooms(2)'>2 BEDROOM</a></li>
                        <li><a ng-click='selectBedrooms(3)'>3 BEDROOM</a></li>
                      </ul>
                    </div>

                    <div dropdown>
                      <button type="button" class="btn" dropdown-toggle>
                        FLOOR <!--  <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a id="floorlink3" ui-sref="floorthree">FLOOR 3</a></li>
                        <li><a id="floorlink4" ui-sref="floorfour">FLOOR 4</a></li>
                        <li><a id="floorlink5" ui-sref="floorfive">FLOOR 5</a></li>
                        <li><a id="floorlink6" ui-sref="floorsix">FLOOR 6</a></li>
                        <li><a id="floorlink7" ui-sref="floorseven">FLOOR 7</a></li>
                        <li><a id="floorlink8" ui-sref="flooreight">FLOOR 8</a></li>
                        <li><a id="floorlink9" ui-sref="floornine">FLOOR 9</a></li>
                      </ul>
                    </div>

                    <button class="btn btn-default balcony-button" style="margin-top:37%" 
                      ng-click="openLandingModal()">
                      BUILDING VIEWS 
                      <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                </button>
          </div>
          
  </div>
</div>
<!-- end desktop landing -->
<!-- mobile landing -->
<div class="container">
  <div style="background-color:black" class="hidden-sm hidden-md hidden-lg">
        <div style="height: 218px;margin-bottom:5%" class="hidden-md hidden-lg">
        <carousel interval="0" class="hidden-sm hidden-md hidden-lg">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
           <!--  <div class="carousel-caption">
              <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>
            </div> -->
          </slide>
        </carousel>
      </div>
    <br>
      <div class="row mobile-button-wrapper hidden-sm hidden-md hidden-lg">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
                    <h3 class="hidden-md hidden-lg">EXPLORE 72 TOWNSEND</h3>
                    <div dropdown>
                        <button type="button" class="btn" dropdown-toggle>
                          BEDROOMS         
                              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                          <li><a ng-click='selectBedrooms(1)'>1 BEDROOM</a></li>
                          <li><a ng-click='selectBedrooms(2)'>2 BEDROOM</a></li>
                          <li><a ng-click='selectBedrooms(3)'>3 BEDROOM</a></li>
                        </ul>
                      </div>
                      <div dropdown>
                        <button type="button" class="btn" dropdown-toggle>
                          FLOOR  
                              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li><a ui-sref="floorthree">FLOOR 3</a></li>
                            <li><a ui-sref="floorfour">FLOOR 4</a></li>
                            <li><a ui-sref="floorfive">FLOOR 5</a></li>
                            <li><a ui-sref="floorsix">FLOOR 6</a></li>
                            <li><a ui-sref="floorseven">FLOOR 7</a></li>
                            <li><a ui-sref="flooreight">FLOOR 8</a></li>
                            <li><a ui-sref="floornine">FLOOR 9</a></li>
                        </ul>
                      </div>
          </div>
          <div class="col-xs-1"></div>
        </div>

          <br>
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
               <a ui-sref="/">
                  <img src="images/signature_horiz.jpg" alt="KBHomes_signature" style="width:90%">
                </a>
            </div>
            <div class="col-xs-3"></div>
          </div>

          <footer style="height:200px" class="hidden-sm hidden-md hidden-lg"></footer>
  
    </div>
  </div>
<!-- mobile -->

<script type="text/javascript">

$(document).ready(function(e) {
    $('img[usemap]').rwdImageMaps();
});

$.fn.maphilight.defaults = {
  fill: true,
  fillColor: '000000',
  fillOpacity: 0.4,
  stroke: true,
  strokeColor: '000000',
  strokeOpacity: 0.2,
  strokeWidth: 0,
  fade: true,
  alwaysOn: false,
  neverOn: false,
  groupBy: false,
  wrapClass: true,
  shadow: false,
  shadowX: 0,
  shadowY: 0,
  shadowRadius: 6,
  shadowColor: '000000',
  shadowOpacity: 0.8,
  shadowPosition: 'outside',
  shadowFrom: false
}

$(function() {
        $("#map").maphilight();
});

$('#floorlink9').mouseover(function(e) {
    $('#floor9').mouseover();
}).mouseout(function(e) {
    $('#floor9').mouseout();
}).click(function(e) { e.preventDefault(); });

$('#floorlink8').mouseover(function(e) {
    $('#floor8').mouseover();
}).mouseout(function(e) {
    $('#floor8').mouseout();
}).click(function(e) { e.preventDefault(); });

$('#floorlink7').mouseover(function(e) {
    $('#floor7').mouseover();
}).mouseout(function(e) {
    $('#floor7').mouseout();
}).click(function(e) { e.preventDefault(); });

$('#floorlink6').mouseover(function(e) {
    $('#floor6').mouseover();
}).mouseout(function(e) {
    $('#floor6').mouseout();
}).click(function(e) { e.preventDefault(); });

$('#floorlink5').mouseover(function(e) {
    $('#floor5').mouseover();
}).mouseout(function(e) {
    $('#floor5').mouseout();
}).click(function(e) { e.preventDefault(); });

$('#floorlink4').mouseover(function(e) {
    $('#floor4').mouseover();
}).mouseout(function(e) {
    $('#floor4').mouseout();
}).click(function(e) { e.preventDefault(); });

$('#floorlink3').mouseover(function(e) {
    $('#floor3').mouseover();
}).mouseout(function(e) {
    $('#floor3').mouseout();
}).click(function(e) { e.preventDefault(); });

</script>