<!-- desktop landing -->
<div class="landing-wrapper">
  <div class="row hidden-xs">

    <div class="col-md-12">
          <img id="map"src="images/72Townsend_EastView.png" height="535" width="1201" usemap="#floorbar">
          <map name="floorbar">
           <!--  <area shape="rect" coords="0,0,600,600" ui-sref="floorthree" ng-mouseover="testFunction()"> -->
            <area id="floor9" href="#" shape="poly" coords="628,110,628,158,1122,156,1116,104,1117,152,1115,107,1112,101" 
            maphilight='{"strokeColor":"0000ff","strokeWidth":5,"fillColor":"00ff00","fillOpacity":0.6}'
            ng-mouseover="testFunction()">
             <area alt="" title="" href="#" shape="poly" coords="528,162,530,206,1179,204,1181,159" 
             maphilight='{"strokeColor":"0000ff","strokeWidth":5,"fillColor":"00ff00","fillOpacity":1}'
             ng-mouseover="testFunction()">
           <!--  <area shape="circle" coords="90,58,3" href="/" alt="Mercury">
            <area shape="circle" coords="124,58,8" href="/" alt="Venus"> -->
          </map>
          <!-- image map -->
          <!-- <div class="floor-wrapper">
              <div style="background-color:black;width:10vw;height:6vh;"></div>
                  <div style="background-color:purple;width:10vw;height:6vh;"></div>
                  <div style="background-color:orange;width:10vw;height:6vh;"></div>
                  <div style="background-color:red;width:10vw;height:6vh;"></div>
                  <div style="background-color:blue;width:10vw;height:6vh;"></div>
                  <div style="background-color:green;width:10vw;height:6vh;"></div>
                  <div style="background-color:magenta;width:10vw;height:6vh;"></div>
          </div>        -->
     </div>  

          <div class="button-wrapper hidden-xs">
              <h3>EXPLORE 72 TOWNSEND</h3>

                   <div dropdown>
                      <button type="button" class="btn" dropdown-toggle>
                        BEDROOMS  <!-- <i class="fa fa-chevron-down"></i> -->
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ng-click='selectBedrooms(1)'>1 BEDROOM</a></li>
                        <li><a ng-click='selectBedrooms(2)'>2 BEDROOM</a></li>
                        <li><a ng-click='selectBedrooms(3)'>3 BEDROOM</a></li>
                      </ul>
                    </div>

                    <div dropdown>
                      <button type="button" class="btn" dropdown-toggle>
                        FLOOR <!--  <i class="fa fa-chevron-down"></i> -->
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a id="floorlink" ui-sref="floorthree">FLOOR 3</a></li>
                        <li><a ui-sref="floorfour">FLOOR 4</a></li>
                        <li><a ui-sref="floorfive">FLOOR 5</a></li>
                        <li><a ui-sref="floorsix">FLOOR 6</a></li>
                        <li><a ui-sref="floorseven">FLOOR 7</a></li>
                        <li><a ui-sref="flooreight">FLOOR 8</a></li>
                        <li><a ui-sref="floornine">FLOOR 9</a></li>
                      </ul>
                    </div>

                    <button class="btn btn-default balcony-button" style="margin-top:37%" 
                      ng-click="openLandingModal()">
                      BUILDING VIEWS 
                      <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                </button>
          </div>
          
           <!-- <div class="floor-wrapper">
              <div style="background-color:black;width:500px;height:65px;"></div>
                  <div style="background-color:purple;width:500px;height:60px;"></div>
                  <div style="background-color:orange;width:500px;height:60px;"></div>
                  <div style="background-color:red;width:500px;height:60px;"></div>
                  <div style="background-color:blue;width:500px;height:60px;"></div>
                  <div style="background-color:green;width:500px;height:60px;"></div>
                  <div style="background-color:magenta;width:500px;height:60px;"></div>
          </div>        -->
  </div>
</div>
<!-- end desktop landing -->
<!-- mobile landing -->
<div class="container">
  <div style="background-color:black" class="hidden-sm hidden-md hidden-lg">
        <div style="height: 218px;margin-bottom:5%" class="hidden-md hidden-lg">
        <carousel interval="0" class="hidden-sm hidden-md hidden-lg">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
           <!--  <div class="carousel-caption">
              <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>
            </div> -->
          </slide>
        </carousel>
      </div>
    <br>
      <div class="row mobile-button-wrapper hidden-sm hidden-md hidden-lg">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
                    <h3 class="hidden-md hidden-lg">EXPLORE 72 TOWNSEND</h3>
                    <div dropdown>
                        <button type="button" class="btn" dropdown-toggle>
                          BEDROOMS         
                              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                          <li><a ng-click='selectBedrooms(1)'>1 BEDROOM</a></li>
                          <li><a ng-click='selectBedrooms(2)'>2 BEDROOM</a></li>
                          <li><a ng-click='selectBedrooms(3)'>3 BEDROOM</a></li>
                        </ul>
                      </div>
                      <div dropdown>
                        <button type="button" class="btn" dropdown-toggle>
                          FLOOR  
                              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li><a ui-sref="floorthree">FLOOR 3</a></li>
                            <li><a ui-sref="floorfour">FLOOR 4</a></li>
                            <li><a ui-sref="floorfive">FLOOR 5</a></li>
                            <li><a ui-sref="floorsix">FLOOR 6</a></li>
                            <li><a ui-sref="floorseven">FLOOR 7</a></li>
                            <li><a ui-sref="flooreight">FLOOR 8</a></li>
                            <li><a ui-sref="floornine">FLOOR 9</a></li>
                        </ul>
                      </div>
          </div>
          <div class="col-xs-1"></div>
        </div>

          <br>
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
               <a ui-sref="/">
                  <img src="images/signature_horiz.jpg" alt="KBHomes_signature" style="width:90%">
                </a>
            </div>
            <div class="col-xs-3"></div>
          </div>

          <footer style="height:200px" class="hidden-sm hidden-md hidden-lg"></footer>
  
    </div>
  </div>
<!-- mobile -->

<script type="text/javascript">
$(function() {
        $("#map").maphilight();
});

$('#floorlink').mouseover(function(e) {
    $('#floor9').mouseover();
}).mouseout(function(e) {
    $('#floor9').mouseout();
}).click(function(e) { e.preventDefault(); });

</script>