<!-- desktop unit -->
 <div class="container hidden-xs">
    <div class="row unit-wrapper hidden-xs">
        <div class="col-sm-4 col-md-4 text-center hidden-xs">
            <h1 style="color:white;font-size:23px">Unit {{unitNumber.unit}}<br> Plan {{unitNumber.planId}}</h1>
            <div class="yellow-border">
                <h2>SQUARE FOOTAGE<br> {{unitNumber.interiorSqFt}}</h2>
                <hr>
                <h2>BEDROOMS<br> {{unitNumber.bedrooms}}</h2>
                <hr>
                <h2>BATHS<br> {{unitNumber.baths}}</h2>
                <hr>
                <h2>FLOOR<br> {{unitNumber.floor}}</h2>
                <hr>
                <h2>GOURMET KITCHEN WITH PENINSULA</h2>
                <hr>
                <h2>SPACIOUS GREAT ROOM WITH PENINSULA</h2>
                <hr>
                <button class="btn btn-default balcony-button" 
                  ng-show="unitNumber.balconyImages.length > 0"
                  ng-click="openBalcony(unitNumber)">
                  BALCONY VIEW 
                  <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                </button>
            </div>
            <br>
        </div>
        <div class="col-sm-8 col-md-8 hidden-xs" style="position:relative">
            <div class="row" style="padding:0px">
                    <div class="col-sm-2 col-md-2">    
                         <button class="btn btn-default balcony-button" ui-sref="list" ng-show="listShow">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            BACK TO LIST
                         </button>   
                          <button class="btn btn-default balcony-button" ui-sref="{{floorNumber}}" ng-hide="listShow">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            BACK TO FLOOR 
                         </button>   

                    </div>

                    <div class="col-sm-3 col-md-5"></div>     

                    <div class="col-sm-7 col-md-5">
                         <button class="btn btn-default balcony-button" class="balcony-button" 
                         ng-click="showPrevious(filteredListItems, unitListIndex)"
                         ng-disabled="unitListIndex === 0">
                          <!--   <i class="fa fa-chevron-left"></i>  -->
                               <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            PREVIOUS 
                         </button>            
                
                          <button class="btn btn-default balcony-button" 
                            ng-click="showNext(filteredListItems, unitListIndex)"
                            ng-disabled="filteredListItems.length === unitListIndex + 1"> NEXT
                                 <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        <!--     <i class="fa fa-chevron-right"></i> -->
                          </button> 
                     </div> 

                </div>
                <br>
                <div class="row hidden-xs">
                  <div class="col-sm-2 col-md-2 col-lg-2"></div>
                  <div class="col-sm-10 col-md-10 col-lg-10">
                        <img ng-src="{{unitNumber.planImage}}" style="width:75%">
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end desktop unit -->

<!-- mobile  unit -->
<div class="container hidden-sm hidden-md hidden-lg mobile-unit-wrapper">
    <div class="row mobile-unit-nav">
      <div class="col-xs-2 col-sm-4">
        <a ng-disabled="unitListIndex === 0"
          ng-click="showPrevious(filteredListItems, unitListIndex)"> 
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </a>
      </div>
      <div class="col-xs-8 col-sm-6 text-center">
        <a ui-sref="list" ng-show="listShow">Back To List</a>
        <a ui-sref="{{floorNumber}}" ng-hide="listShow">Back To Floor</a>
      </div>
      <div class="col-xs-1 col-sm-4">
        <a  ng-disabled="filteredListItems.length === unitListIndex + 1"
          ng-click="showNext(filteredListItems, unitListIndex)"
         >
           <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
      </div>
    </div>
  
    <div class="row">
        <div class="col-sm-12 col-xs-12 hidden-sm hidden-md hidden-lg">
            <div class="row">
                  <div class="col-sm-2 col-xs-2"></div>
                  <div class="col-sm-8 col-xs-8 text-center">
                         <h1 style="color:white;font-size:23px">Unit {{unitNumber.unit}} / Plan {{unitNumber.planId}}</h1>
                  </div>
                  <div class="col-sm-2 col-xs-2">
                  </div>
                </div>
            <img ng-src="{{unitNumber.planImage}}" class="mobile-unit-image">
        </div>
    </div>
      
      <div class="row">
        <div class="col-sm-12 col-xs-12 hidden-sm hidden-md hidden-lg text-center">
            <div class="yellow-border">
                <h2>SQUARE FOOTAGE<br> {{unitNumber.interiorSqFt}}</h2>
                <hr>
                <h2>BEDROOMS<br> {{unitNumber.bedrooms}}</h2>
                <hr>
                <h2>BATHS<br> {{unitNumber.baths}}</h2>
                <hr>
                <h2>GOURMET KITCHEN WITH PENINSULA</h2>
                <hr>
                <h2>SPACIOUS GREAT ROOM WITH PENINSULA</h2>
                <hr>
                    <button class="btn btn-default balcony-button"
                      ng-show="unitNumber.balconyImages.length > 0"
                      ng-click="openBalcony(unitNumber)">
                      BALCONY VIEW  
                      <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                    </button>
            </div>
        </div>
    </div>
</div>
<!-- end mobile-->
