<!-- desktop unit -->
 <div class="container hidden-xs">
    <div class="row unit-wrapper hidden-xs">
        <div class="col-sm-4 col-md-4 text-center hidden-xs">
            <h1 style="color:white;font-size:23px">Unit {{unitNumber.unit}}<br> Plan {{unitNumber.planId}}</h1>
            <div class="yellow-border">
                <h2>SQUARE FOOTAGE<br> {{unitNumber.interiorSqFt}}</h2>
                <hr>
                <h2>BEDROOMS<br> {{unitNumber.bedrooms}}</h2>
                <hr>
                <h2>BATHS<br> {{unitNumber.baths}}</h2>
                <hr>
                <h2>GOURMET KITCHEN WITH PENINSULA</h2>
                <hr>
                <h2>SPACIOUS GREAT ROOM WITH PENINSULA</h2>
                <hr>
                <button class="btn btn-default balcony-button" ng-click="openBalcony(unit)">BALCONY VIEW
                    <!-- <i class="fa fa-camera"></i> -->
                           <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                </button>
            </div>
            <br>
        </div>
        <div class="col-sm-8 col-md-8 hidden-xs" style="position:relative">
            <div class="row" style="padding:0px">
                    <div class="col-sm-2 col-md-2">    
                         <button class="btn btn-default balcony-button" ui-sref="list" ng-show="listShow">
                         <!--    <i class="fa fa-chevron-left"></i>  -->
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            BACK TO LIST
                         </button>   
                          <!-- Back to Floor button -->
                          <button class="btn btn-default balcony-button" ui-sref="{{floorNumber}}" ng-hide="listShow">
                         <!--    <i class="fa fa-chevron-left"></i>  -->
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            BACK TO FLOOR 
                         </button>   

                    </div>

                    <div class="col-sm-3 col-md-5"></div>     

                    <div class="col-sm-7 col-md-5">
                         <button class="btn btn-default balcony-button" class="balcony-button" 
                         ng-click="showPrevious(filteredListItems, unitListIndex)"
                         ng-disabled="unitListIndex === 0">
                          <!--   <i class="fa fa-chevron-left"></i>  -->
                               <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            PREVIOUS 
                         </button>            
                
                          <button class="btn btn-default balcony-button" 
                            ng-click="showNext(filteredListItems, unitListIndex)"
                            ng-disabled="filteredListItems.length === unitListIndex + 1"> NEXT
                                 <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        <!--     <i class="fa fa-chevron-right"></i> -->
                          </button> 
                     </div> 

                </div>
                <br>
                <div class="row hidden-xs">
                  <div class="col-sm-1 col-md-1"></div>
                  <div class="col-sm-11 col-md-11">
                        <img ng-src="{{unitNumber.planImage}}" style="width:100%">
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end desktop unit -->

<!-- mobile  unit -->
<div class="container hidden-sm hidden-md hidden-lg mobile-unit-wrapper">
    <div class="row mobile-unit-nav">
      <div class="col-xs-4 col-sm-4">
        <a href="#" 
          ng-click="showPrevious(filteredListItems, unitListIndex)"
          ng-disabled="unitListIndex === 0"> 
         <!--  <i class="fa fa-angle-left"></i>  -->
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        Previous</a>
      </div>
      <div class="col-xs-5 col-sm-6">Unit {{unitNumber.unit}}</div>
      <div class="col-xs-3 col-sm-4">
        <a href="#" 
          ng-click="showNext(filteredListItems, unitListIndex)"
          ng-disabled="filteredListItems.length === unitListIndex + 1">
          Next 
     <!--      <i class="fa fa-angle-right"></i> -->
           <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
      </div>
    </div>
  
    <div class="row">
        <div class="col-sm-12 col-xs-12 hidden-sm hidden-md hidden-lg">
            <div class="row">
                  <div class="col-sm-4 col-xs-4"></div>
                  <div class="col-sm-6 col-xs-6"></div>
                  <div class="col-sm-2 col-xs-2">
                      <a href="#" ng-click="listHidden = !listHidden">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </a>
                  </div>
                </div>
            <img ng-src="{{unitNumber.planImage}}" class="mobile-unit-image">
        </div>
    </div>
      
      <div class="row">
        <div class="col-sm-12 col-xs-12 hidden-sm hidden-md hidden-lg text-center">
            <h1 style="color:white;font-size:23px">Unit {{unitNumber.unit}}<br> Plan {{unitNumber.planId}}</h1>
            <div class="yellow-border">
                <h2>SQUARE FOOTAGE<br> {{unitNumber.interiorSqFt}}</h2>
                <hr>
                <h2>BEDROOMS<br> {{unitNumber.bedrooms}}</h2>
                <hr>
                <h2>BATHS<br> {{unitNumber.baths}}</h2>
                <hr>
                <h2>GOURMET KITCHEN WITH PENINSULA</h2>
                <hr>
                <h2>SPACIOUS GREAT ROOM WITH PENINSULA</h2>
                <hr>
                    <button class="btn btn-default balcony-button" class="balcony-button">BALCONY VIEW  
                    <!--   <i class="fa fa-camera"></i>  -->
                            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                    </button>
            </div>
        </div>
    </div>
</div>
<!-- end mobile-->
